<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <style type="text/css">
        .announcement_bar_content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-wrap: wrap;
        }
        .announcement_bar_content a {
          width: 100%;
          text-align: center;
          padding: 8px;
          text-transform: uppercase;
        }
      </style></div>
    
            <main id="content" role="main">
              <div class="container">
      <div class="reading-column">
        <h1 class="page-title">Contact Us</h1>
    
        <div class="page-with-contact-form row">
          <div class="rte half column">
            
          </div>
    
          <div class="half column">
            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
    
    
    
    
    <div class="input-row">
      <label for="contactFormName">Name:</label>
      <input type="text" id="contactFormName" name="contact[name]" />
    </div>
    <div class="input-row">
      <label for="contactFormEmail">Email:</label>
      <input type="email" id="contactFormEmail" name="contact[email]" />
    </div>
    <div class="input-row">
      <label for="contactFormTelephone">Phone:</label>
      <input type="telephone" id="contactFormTelephone" name="contact[phone]" />
    </div>
    <div class="input-row">
      <label for="contactFormMessage">Message:</label>
      <textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]"></textarea>
    </div>
    <div class="input-row">
      <input type="submit" id="contactFormSubmit" value="Send" class="btn" />
    </div>
    </form>
          </div>
        </div>
      </div>
    </div>
    
    
            </main>
          </div><!-- /#page-wrap-content -->
</body>

</html>